# Entorno virtual
venv/
.venv/

# Archivos de configuración
*.env
*.ini
*.cfg

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de logs
*.log

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de cobertura de pruebas
htmlcov/
.coverage
.tox/
.nox/
.cache
.pytest_cache/

# Archivos de distribución
dist/
build/
*.egg-info/